<div class="container-fluid">

    <div class="jumbotron">
        <h1 class="display-4">Account Ledger: {{account?.name}}</h1>
        <hr class="my-4">
    </div>

    <div *ngIf="loading">Loading...</div>
    <div *ngIf="error">Error!</div>
    <div *ngIf="transactions">
        <div class="card">
            <p-table [value]="transactions" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Transaction Date</th>
                        <th>Description</th>
                        <th style="text-align: right">Amount</th>
                        <th>Transfer Account</th>
                        <th style="text-align: right">Balance</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-transaction>
                    <tr>
                        <td>{{ transaction.transactionDate }}</td>
                        <td>{{ transaction.description }}</td>
                        <td style="text-align: right">{{ transaction.amount|currency:'GBP' }}</td>
                        <td>{{ transaction.transferAccount.name }}</td>
                        <td style="text-align: right">{{ 0 }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>



