<div class="container-fluid">

    <div class="jumbotron">
        <h1 class="display-4">Account Ledger: {{account?.name}}</h1>
        <hr class="my-4">
    </div>

    <div *ngIf="loading">Loading...</div>
    <div *ngIf="error">Error!</div>
    <div *ngIf="accountLedgers">
        <div class="card">
            <p-table [value]="accountLedgers" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Transaction Date</th>
                        <th>Description</th>
                        <th style="text-align: right">DR</th>
                        <th style="text-align: right">CR</th>
                        <th>Transfer Account</th>
                        <th style="text-align: right">Balance</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-accountLedger>
                    <tr>
                        <td>{{ accountLedger.ledgerDate }}</td>
                        <td>{{ accountLedger.description }}</td>
                        <td style="text-align: right">{{ accountLedger.debitAmount|currency:'GBP' }}</td>
                        <td style="text-align: right">{{ accountLedger.creditAmount|currency:'GBP' }}</td>
                        <td><a (click)="showLedger(accountLedger.transferAccount.id)">{{ accountLedger.transferAccount.name }}</a></td>
                        <td style="text-align: right">{{ accountLedger.runningTotal|currency:'GBP' }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>



