.bg-ASSET {
    background-color: green;
}
.bg-EQUITY {
    background-color: gray;
}
.bg-EXPENSE {
    background-color: darkorange;
}
.bg-INCOME {
    background-color: blue;
}
.bg-LIABILITY {
    background-color: red;
}