<div class="container-fluid">

    <div class="jumbotron">
        <h1 class="display-4">Accounts</h1>
        <hr class="my-4">
    </div>

    <div *ngIf="loading">Loading...</div>
    <div *ngIf="error">Error!</div>
    <div *ngIf="accountTree">
        <ng-container *ngFor="let accountType of accountTypes">
            <div class="row">
                <div class="col-sm-6">
                    <h3>{{accountType}}</h3>
                </div>
            </div>
            <div class="row" *ngFor="let account of accountTree[accountType]">
                <div class="col-sm">
                    {{account.id}}
                </div>
                <div class="col-sm">
                    {{account.name}}
                </div>
                <div class="col-sm text-end">
                    <a  (click)="showLedger(account)">{{account.currentBalance|currency:'GBP'}}</a>
                </div>
                <div class="col-sm">
                    {{account.accountType}}
                </div>
                <div class="col-sm">
                    {{account.children}}
                </div>
                <div class="col-sm">
                    {{account.parentAccount}}
                </div>
            </div>
        </ng-container>
    </div>

</div>
