<div class="container-fluid">

    <div class="jumbotron">
        <h1 class="display-4">Accounts</h1>
        <hr class="my-4">
    </div>

    <div *ngIf="loading">Loading...</div>
    <div *ngIf="error">Error!</div>
    <div *ngIf="accountTree">

        <div class="row">
            <div class="card flex flex-column align-items-center justify-content-center">
                <div class="mb-3">
                    <button pButton type="button" label="Expand all" (click)="expandAll()" class="mr-2"></button>
                    <button pButton type="button" label="Collapse all" (click)="collapseAll()"></button>
                </div>
                <p-tree [value]="treeData" class="w-100 md:w-30rem">
                    <ng-template let-node pTemplate="account">
                        <span class="float-left">
                            {{ node.data.name }}
                        </span>
                        <span class="float-right">
                            <a  (click)="showLedger(node.data.id)">{{node.data.currentBalance|currency:'GBP'}}</a>
                        </span>
                    </ng-template>
                    <ng-template let-node pTemplate="default">
                        <b>{{ node.label }}</b>
                    </ng-template> 
                </p-tree>
            </div>
            </div>



    </div>

</div>
